page-about {

}
ion-page{
        background: white !important;
}
.about{
    // margin-top: 56px !important; 
    // margin-bottom: 56px !important;
}
.fixed-content{
    margin: 0 !important;
}
.scroll-content{
    margin: 0 !important;
}
[has-header]{
  margin-top: 50px !important;
}