<ion-header>

  <ion-navbar>
    <ion-title *ngIf="content!=undefined">
      {{content.title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding   *ngIf="content!=undefined">
  <ion-fab top right edge>
    <button ion-fab ><ion-icon name="ios-map-outline"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

<div class="header-image">
  <img src="{{content.image}}" />
   <ion-card-header>
    {{content.start}}
  </ion-card-header>
</div>
 
  <ion-card-title>
      {{content.title}}
  </ion-card-title>
  <div class="main-content" [innerHTML] = "content.description"></div>
</ion-content>
