page-item {

}

ion-page{
        background: white !important;
}
.header-image{
    position: relative;
}
.card-title-md{
    margin-top: 20px;
}
.toolbar-title-ios{
    margin-top: 2rem;
    font-size: 1.3rem;
}
[has-header]{
  margin-top: 50px;
}
.content{
    margin-top: 5rem;
}